.xdebug-error {
    font-size: 16px !important;
    width: 95% !important;
    margin: 0 auto 10px auto !important;
    border-color: #666 !important;
    background: #ddd !important;
}

.xdebug-error th, .xdebug-error td {
    padding: 2px !important;
}

.xdebug-error th {
    background: #ccc !important;
}

.xdebug-error_description th {
    font-size: 1.2em !important;
    padding: 20px 4px 20px 100px !important;
    background: #ccc no-repeat left top !important;
}

.xdebug-error_callStack th {
    background: #666 !important;
    color: #ddd !important;
}

.content {
    padding: 1em;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.boxed {
    margin: .25em;
    border:2px solid #ddd;
}

.boxed th {
    text-align: left;
    background-color: hsl(220, 100%, 70%);
    color: white;
    white-space: nowrap;
}

.boxed th.group2 {
    background-color: hsl(220, 60%, 70%);
}

.boxed td.group2 {
    background-color: hsl(220, 50%, 92%);
}

.boxed tr.even {
  background-color: hsl(220, 100%, 92%);
}

.boxed th, .boxed td {
    padding:4px 10px;
    border:2px solid #ddd;
    border-width:0 2px 2px 0;
}

.boxed tr:hover, .boxed tr:hover td.group2 {
  background-color: hsl(220, 100%, 80%) !important;
}

.sched thead th {
    text-align: center;
}


.twocol {
    border: 1px solid gray;
    margin: .25em;
    padding: .25em;
}

.twocol th {
    text-align: left;
    padding: 0 .5em 0 0;
    vertical-align: top;
}

form .twocol {
    border-collapse:separate;
    border-spacing: 0 10px;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
}

h2 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.display_data {
    background: #eee;
    padding: 1em;
    margin: 1em;
}

.question {
    background: #eee;
    padding: .5em;
    margin: .5em 0;
}

.question h3 {
    font-weight: bold;
}

.required_marker {
    color: red;
}

.required_text {
    color: red;
    font-size: 180%;
    font-weight: bold;
}

.optional_text {
    font-size: 90%;
}

.orig_answer {
    border: 1px solid #eaa;
    margin: .5em 0;
    padding: .5em;
    background: #fee;
}

.admin {
    color: red;
}

p {
    margin: 1em 0;
}

.debug {
    display: none;
    border: 1px solid #eaa;
    background: #fee;
    padding: 0 .2em;
}

.debug_box {
    background: #fee;
    border: 1px solid #eaa;
    margin: .2em 0;
    padding: .5em;
}

.lookup_individual {
    margin-bottom: .5em;
}

.lookup_fail_msg {
    color: #ea590b;
    font-weight: bold;
}

.lookup_success_msg {
    color: #22cc08;
    font-weight: bold;
}


.plain_question h1 span {
    font-weight: normal;
    font-size: smaller;
}

.banner_title {
    text-align: center;
    font-size: 300%;
}

.banner_test {
    text-align: center;
    font-size: 200%;
    color: red;
}

.html_email {
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}

.plain_email {
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}

.banner .logo {
    float: left;
}

.banner .login_link {
    float: right;
}


.preface ul {
    list-style: disc;
    margin: 1em;
}

.attention {
    color: red;
}

.attention_good {
    color: green;
}

#apply_form {
    padding-bottom: 3em;
}

#more_below {
    position: fixed;
    background-color: blue;
    color: white;
    height: 2em;
    width: 100%;
    bottom: 0;
    padding: .5em;
    font-weight: bold;
    text-align: center;
}

.pcode {
    background: #ddd;
}

.desc {
    margin-top: 0.5em;
}

.direct_download {
    background: #ccc;
    padding: 1em;
    margin: 1em;
    border: 2px solid #888;
    width: 100%;
}
