.xdebug-var-dump .xdebug-error {
    background: #efa30b;
    border: .2em solid #775002;
    margin: 1em;
    padding: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.boxed {
    margin: .25em;
    border:2px solid #ddd;
}

.boxed th {
    text-align: left;
    background-color:#6599FF;
    background-color: hsl(220, 100%, 70%);
    color: white;
    white-space: nowrap;
}

.boxed tr.even {
  background-color: hsl(220, 100%, 92%);
}

.boxed th, .boxed td {
    padding:4px 10px;
    border:2px solid #fff;
    border-width:0 2px 2px 0;
}

.boxed tr:hover {
  background-color: hsl(220, 100%, 80%) !important;

}


.twocol {
    border: 1px solid gray;
    margin: .25em;
    padding: .25em;
}

.twocol th {
    text-align: left;
    padding: 0 .5em 0 0;
    vertical-align: top;
}

form .twocol {
    border-collapse:separate;
    border-spacing: 0 10px;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
}

h2 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.question {
    background: #eee;
    padding: 1em;
    margin: 1em;
}

.question h3 {
    font-weight: bold;
}

.required_marker, .required_text {
    color: red;
}

.orig_answer {
    border: 1px solid #eaa;
    margin: .5em;
    padding: .5em;
    background: #fee;
}

.admin {
    color: red;
}

p {
    margin: 1em 0;
}

.condition {
    display: none;
    background: #fee;
    border: 1px solid #eaa;
    margin: .2em;
    padding: .2em;
}

.lookup_individual {
    margin-bottom: .5em;
}

.lookup_fail_msg {
    color: #ea590b;
    font-weight: bold;
}

.lookup_success_msg {
    color: #22cc08;
    font-weight: bold;
}
